<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bookcafe.comment.dao.CommentDAO">
 
 <select id="selectCommentByPostId" parameterType="int" 
 resultType="com.bookcafe.comment.model.Comment">
 
	SELECT
	id,
	postId,
	userId,
	userName,
	content,
	createdAt,
	updatedAt
	FROM
	comment
	WHERE
	postId = #{postId}
 
 </select>
 
 
 <insert id="insertComment" parameterType="map">
	INSERT
	INTO
	comment(
	postId,
	userId,
	userName,
	content
	)
	VALUES
	(
	#{postId},
	#{userId},
	#{userName},
	#{content}
	)
 
 </insert>
 
 
 <delete id="deleteComment" parameterType="map">
	DELETE
	FROM
	comment
	WHERE
	id = #{id}
	AND
	postId = ${postId}
	AND
	userId = ${userId} 
 </delete>
 
 </mapper>