<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.bookcafe.user.dao.UserDAO">
 
 <select id="selectTest" resultType="com.bookcafe.user.model.User">
	select
	id,
	loginId,
	password,
	name,
	email,
	point,
	userClass,
	createdAt,
	updatedAt
	from
	user
	limit 1
 </select>
 
 <select id="selectUser" parameterType="int" 
 resultType="com.bookcafe.user.model.User">
	SELECT
	id,
	loginId,
	password,
	name,
	email,
	point,
	userClass,
	createdAt,
	updatedAt
	FROM
	`user`
	WHERE
	id = #{userId}
	
 </select>
 
 
 <select id="selectUserByloginIdCheck" parameterType="string"
 resultType="int">
	SELECT
	count(1) 
	FROM
	`user`
	WHERE 
	loginId = #{loginId};
 
 
 
 </select>
 
 
 <select id="selectUserLogin" parameterType="map" 
 resultType="com.bookcafe.user.model.User">

	SELECT
	id,
	loginId,
	password,
	name,
	email,
	point,
	userClass,
	createdAt,
	updatedAt
	FROM
	user
	WHERE
	loginId = #{loginId}
	AND
	password = #{password}
 
 
 
 
 
 </select>
 
 
 
 
 
 
 
 <insert id="insertUser" parameterType="map">
	INSERT INTO
	`user`
	(
	loginId,
	password,
	name,
	email
	)
	VALUES
	(
	#{loginId},
	#{password},
	#{name},
	#{email}
	)
 
 </insert>
 
 
 <update id="updatePlusPointByUserId" parameterType="map">

	UPDATE
	`user`
	SET
	`point` = point + #{point}
	WHERE
	`id` = #{userId}
 
 </update>
 
 
 <update id="updateUserByColumns" parameterType="map">

	UPDATE
	`user`
	SET
	
	<if test="password != ''">
	`password` = #{password}
	</if>
	
	<if test="password != '' and name != ''">
	,
	</if>
	
	<if test="name != ''">
	`name` = #{name}
	</if>
	
	<if test="email != '' and name != ''">
	,
	</if>
	
	<if test="email != ''">
	`email` = #{email}
	</if>
	
	
	
	WHERE
	`id` = #{userId}
 
 
 </update>
 
 
 </mapper>