@charset "UTF-8";
header{background-color: orange; height: 80px;}
#usenav{height: 190px;}
tr{padding: 3px;}
td{padding: 3px;}
#pointpage{height: 300px;}
.userlist{
	border: 1px solid black;
}
footer{background-color: orange;}